*, ::after, ::before {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  min-height: 100%; }

th {
  text-align: inherit; }

h1, h3 {
  text-align: center; }

.better-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-color: #c6c6c6;
  border-style: solid;
  border-width: 1px 0 0 1px; }
  .better-table table {
    border-style: solid;
    border-color: #c6c6c6;
    border-width: 0 1px 0 0; }
    .better-table table tr th,
    .better-table table tr td {
      border-style: solid;
      border-color: #c6c6c6;
      border-width: 0 1px 0 0; }
      .better-table table tr th:last-child,
      .better-table table tr td:last-child {
        border-width: 0; }
  .better-table th .cell-content,
  .better-table td .cell-content {
    padding: .25rem; }
  .better-table tr:not(:last-child) {
    border-bottom: 1px solid #dee2e6; }
  .better-table div[class$="container"] div[class$="container"]:last-child table {
    border-width: 0; }
  .better-table .header-container {
    background: #eee;
    border-style: solid;
    border-color: #c6c6c6;
    border-width: 0 0 1px 0;
    display: flex;
    flex: 0 0 auto; }
    .better-table .header-container .fixed-header-container {
      width: 100%;
      flex: 0 1 auto;
      overflow: hidden; }
    .better-table .header-container .header-spacer {
      flex-shrink: 0;
      flex-grow: 0;
      background: #c6c6c6;
      border-left: 1px solid #c6c6c6; }
    .better-table .header-container > div:nth-last-child(2) table[class$="table-header"] {
      border-width: 0; }
  .better-table .table-container-container {
    display: flex;
    position: relative;
    flex: 1 0 auto;
    height: 0;
    overflow: hidden; }
    .better-table .table-container-container > div[class$="-border"] {
      background: #c6c6c6;
      position: absolute; }
      .better-table .table-container-container > div[class$="-border"][class^="right"] {
        height: 100%;
        width: 1px;
        right: 0; }
      .better-table .table-container-container > div[class$="-border"][class^="bottom"] {
        height: 1px;
        width: 100%;
        bottom: 0; }
    .better-table .table-container-container .fixed-table-columns-container-container {
      display: flex;
      flex-direction: column; }
      .better-table .table-container-container .fixed-table-columns-container-container .fixed-table-columns-container {
        flex: 1 1 auto;
        overflow: hidden; }
      .better-table .table-container-container .fixed-table-columns-container-container .fixed-table-columns-container-spacer {
        flex-shrink: 0;
        flex-grow: 0;
        background: #c6c6c6; }
    .better-table .table-container-container .table-container {
      flex-grow: 1; }

.better-table {
  /*--------------------------------------------------------------------------*/
  /* Table Container */ }
  .better-table .table-container {
    height: 100%;
    overflow-y: auto; }
    .better-table .table-container::-webkit-scrollbar-track {
      border: 1px solid #c6c6c6;
      background-color: #eee; }
    .better-table .table-container::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background-color: #F5F5F5; }
    .better-table .table-container::-webkit-scrollbar-thumb {
      background-color: #888; }
    .better-table .table-container::-webkit-scrollbar-corner {
      background-color: #c6c6c6;
      border: 1px solid #c6c6c6;
      height: 15px; }
    .better-table .table-container table {
      margin-bottom: 0;
      width: 100%;
      min-height: 100%; }
      .better-table .table-container table tr:first-child td {
        border-top: 0; }
      .better-table .table-container table tr:last-child td {
        border-bottom: 0; }
      .better-table .table-container table tr td {
        background: white; }
        .better-table .table-container table tr td:last-child {
          border-right: none; }
