* {
  font-family: 'IBM Plex Sans', sans-serif; }

html, body {
  height: 100%;
  margin: 0; }

h1 {
  margin: 0; }

.p-3 {
  padding: 1rem; }

.example-table-container {
  width: 300px;
  height: 400px;
  margin: 0 auto; }
  .example-table-container .table-container::-webkit-scrollbar-track {
    border: 1px solid #c6c6c6;
    background-color: #eee; }
  .example-table-container .table-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5; }
  .example-table-container .table-container::-webkit-scrollbar-thumb {
    background-color: #888; }
  .example-table-container table tr th {
    background: #eee;
    border: 1px solid #c6c6c6; }
    .example-table-container table tr th .col-header-content {
      padding: .25rem; }
  .example-table-container table tr td {
    border: 1px solid #dee2e6; }
    .example-table-container table tr td .cell-content {
      padding: .25rem; }
